.main_album_container {
  padding: 25px;
  .main_album {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
      object-fit: contain !important;
      width: 100%;
      height: 100%;
    }
  }
}
