.main_carousel_row {
    display: grid;
    grid-template-columns: repeat(4, minmax(15%, 1fr));
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    width: 75%;
    .main_carousel {
      position: relative;
      height: 350px;
      text-align: center;
      border: 1px solid rgba(38, 41, 43, 0.096);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }